body {
  margin: 0;
  padding: 20px;
  font-family: sans-serif;
  font-size: 11px;
  background-color: #efefef;
}

ul {
  list-style-type: none;
  padding: 0;
}

a {
  cursor: pointer;
  text-decoration: underline;
}

.select {
  margin-left: 5px;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.clear-both {
  clear: both;
}

.main-content {
  float: left;
  width: 65%;
  height: 100%;
}

.sidebar-right {
  float: right;
  width: 25%;
  height: 100%;
}

.sidebar-right li {
  margin-bottom: 5px;
}

.post-summary {
  border-radius: 15px;
  background-color: rgb(171, 195, 247);
  margin-bottom: 10px;
  margin-top: 10px;
  padding: 10px;
}

.post-title {
  font-weight: bold;
  margin-bottom: 20px;
  font-size: 14px;
}

.post-summary-info {
  font-size: 12px;
}

.post-info-bar {
  font-size: 11px;
  width: 100%;
  height: 20px;
}

.post-info-bar div {
  float: left;
  margin-right: 10px;
}

.post-body {
  margin-top: 15px;
  font-size: 13px;
}

.post-comment {  
  background-color: #d6d6d6;
  width: 60%;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 10px;
  float: right;
}

.post-comment-vote {  
  background-color: #d6d6d6;
  width: 40px;
  height: 27px;
  margin-left: 10px;
  margin-bottom: 5px;
  border-radius: 10px;
  float: top;
  text-align: center;
  font-size: 20px;
  vertical-align: middle;
  line-height: 27px;
  cursor: pointer;
}

.post-footer {
  font-size: 9px;
  width: 100%;
  margin-top: 20px;
  height: 10px;
}

.post-footer div {
  float: left;
  margin-right: 9px;
  margin-bottom: 10px;
}

.comment-info-bar {
  font-size: 9px;
  width: 100%;  
}

.comment-info-bar div {
  float: left;
  margin-right: 13px;
}

.comment-footer {
  font-size: 9px;
  width: 100%;
  margin-top: 15px;
}

.comment-footer div {
  float: left;
  margin-right: 9px;
}

.comment-body {
  margin-top: 15px;
  font-size: 12px;
}

.add-edit-comment {  
  background-color: #d4dbea;
  width: 60%;
  padding: 10px;
  margin-bottom: 35px;
  border-radius: 10px;
  float: right;
  margin-right: 50px;
}

.add-edit-comment input {  
  float: right;
  width: 90%;
  height: 14px;
  font-size: 10px;
  margin-bottom: 5px;
}

.add-edit-comment button {
  margin-top: 10px;
  font-size: 11px;
  float: right;
}

.add-edit-post {
  width: 300px;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(160, 160, 160);
  padding: 15px;
}

.add-edit-post div {
  margin-bottom: 8px;
}

.add-edit-post label {
  float: left;
  height: 14px;
  margin-top: 5px;
}

.add-edit-post input {
  float: right;
  width: 220px;
  height: 14px;
  font-size: 11px;
}

.add-edit-post select {
  float: right;
  width: 224px;
  height: 22px;
  font-size: 11px;
}

.add-edit-post textarea {
  float: right;
  width: 218px;
  height: 50px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;
  resize: none;
}

.add-edit-post button {
  margin-top: 10px;
  font-size: 11px;
  float: right;
}


.dark-red {
  color: #7d0000;
}

.dark-red-strong {
  color: #7d0000;
  font-weight: bold;
}

.green {
  color: #0e7701;
}

.green-strong {
  color: #0e7701;
  font-weight: bold;
}